# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local


# typescript
*.tsbuildinfo

# Arquivos de Build do Android
/android/app/build/
/android/.gradle/
# *.apk
*.aab

# Arquivos de Keystore (Chave de Assinatura)
*.jks
*.keystore

# Arquivos de configuração local
/android/local.properties

